<section id="about" class="p-10">
    <h2 class="text-3xl font-semibold"><i class="fa fa-user mr-3"></i>Sobre mi</h2>
    <p class="text-base mt-4">Me llamo Iván Huesca y soy un apasionado de la informática y la programación. Comencé en 2016 manipulando sistemas operativos, y en 2020 decidí adentrarme en el desarrollo de scripts a en una plataforma de servidores llamada Rage Multiplayer, utilizando HTML5, CSS y JavaScript.</p>
    <p class="text-base mt-4">En los últimos años me he <span class="text-[#ffd97b]">centrado en el desarrollo de aplicaciones web</span>, trabajando principalmente con <span class="text-[#ffd97b]">PHP, SQL y Bootstrap</span>. También <span class="text-[#ffd97b]">tengo experiencia con Vue, NodeJS y Tailwind CSS</span>. Siempre en constante aprendizaje. Mi objetivo es seguir creciendo como desarrollador y afrontar nuevos retos en el mundo digital.</p>
</section>