<section id="contact" class="p-10">
    <h2 class="text-3xl font-semibold text-center"><i class="fa fa-envelope mr-3"></i>Contacto</h2>
    <h5 class="text-xl text-center mt-4">Si tienes alguna consulta o te gustaría trabajar juntos en un proyecto, ¡estaré encantado de charlar!</h5>

    <div class="mt-10 bg-[#202323] p-6 rounded-lg w-full md:w-2/3 mx-auto">
        <form action="https://formsubmit.co/ivanhuan028@gmail.com" method="POST" target="_self" class="space-y-4">
            <div class="flex flex-col md:flex-row gap-y-6 md:gap-x-6">
                <div class="w-full">
                    <label for="name" class="block text-lg font-medium text-gray-400">Nombre <span class="text-red-400">*</span></label>
                    <input type="text" id="name" name="name" placeholder="Introduce aquí tu nombre..." required class="w-full mt-2 p-3 rounded-md bg-[#303334] text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-[#ffd97b]">
                </div>
                <div class="w-full">
                    <label for="email" class="block text-lg font-medium text-gray-400">Correo electrónico <span class="text-red-400">*</span></label>
                    <input type="email" id="email" name="email" placeholder="Introduce aquí tu correo electrónico..." required class="w-full mt-2 p-3 rounded-md bg-[#303334] text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-[#ffd97b]">
                </div>
            </div>
            <div>
                <label for="subject" class="block text-lg font-medium text-gray-400">Asunto <span class="text-red-400">*</span></label>
                <input type="text" id="subject" name="subject" placeholder="Introduce aquí el asunto..." required class="w-full mt-2 p-3 rounded-md bg-[#303334] text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-[#ffd97b]">
            </div>
            <div>
                <label for="message" class="block text-lg font-medium text-gray-400">Mensaje <span class="text-red-400">*</span></label>
                <textarea id="message" name="message" rows="5" placeholder="Introduce aquí tu mensaje..." required class="w-full mt-2 p-3 rounded-md bg-[#303334] text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-[#ffd97b]"></textarea>
            </div>
            <button type="submit" class="w-full py-3 bg-white text-[#202323] text-center font-semibold rounded-md hover:bg-[#ffd97b] transition duration-300 ease-in-out cursor-pointer"><i class="fa fa-paper-plane mr-2"></i>Enviar</button>
        </form>
    </div>

    <div class="px-10 mt-10 text-center">
        <div class="flex flex-col md:flex-row justify-center md:space-x-4 text-lg">
            <div class="flex justify-center space-x-4">
                <a href="zexxno.dev@gmail.com" class="hover:text-[#ffd97b] font-normal mb-4 md:mb-0 text-center"><i class="fa fa-envelope mr-2"></i>zexxno.dev@gmail.com</a>
            </div>
            <div class="flex justify-center space-x-4">
                <a href="https://www.linkedin.com/in/ivan-huesca/" class="hover:text-[#ffd97b] font-normal mb-4 md:mb-0"><i class="fa-brands fa-linkedin mr-2"></i>LinkedIn</a>
                <a href="https://github.com/Zexxno" class="hover:text-[#ffd97b] font-normal"><i class="fa fa-github mr-2"></i>GitHub</a>
            </div>
        </div>
        <p class="mt-5 text-gray-400 font-normal">&copy 2025 Todos los derechos reservados | Iván Huesca Andújar</p>    
    </div>
</section>