<section id="home" class="p-10 mt-36 flex flex-col md:flex-row items-center space-y-6 md:space-y-0 md:space-x-8">
    <img src="/img/ivan-huesca.png" alt="Mi Foto" class="w-32 h-32 -rotate-3 border-2 border-[#ffd97b] rounded-lg">
    <div class="text-center md:text-left">
        <h2 class="text-4xl font-semibold">¡Hola, soy Iván Huesca!</h2>
        <p class="mt-2 text-gray-400 font-normal">Desarrollador web junior con <span class="text-[#ffd97b]">experiencia en PHP y SQL</span>, entre otras tecnologías. Apasionado por la programación y <span class="text-[#ffd97b]">siempre dispuesto a aprender y mejorar</span>, con el objetivo de afrontar nuevos retos en el desarrollo web.</p>
        <div class="mt-4 flex flex-col items-center space-y-4 md:flex-row md:space-y-0 md:space-x-4">
            <a href="./assets/pdf/cv.pdf" download class="inline-block bg-[#202424] text-white px-10 py-2 font-semibold rounded-md hover:bg-[#303334] transition duration-300 ease-in-out"><i class="fa fa-download mr-2"></i>Descargar CV</a>
            <div class="flex space-x-4">
                <a class="text-3xl" href="https://www.linkedin.com/in/ivan-huesca/"><i class="fa-brands fa-linkedin hover:text-[#0374b2] transition duration-300 ease-in-out"></i></a>
                <a class="text-3xl" href="https://github.com/Zexxno"><i class="fa-brands fa-github hover:text-[#5c6bc0] transition duration-300 ease-in-out"></i></a>
                <a class="text-3xl" href="mailto:contacto@ivanhuesca.dev"><i class="fa fa-envelope hover:text-green-300 transition duration-300 ease-in-out"></i></a>
            </div>
        </div>
    </div>
</section>