
<section id="projects" class="p-10">
    <h2 class="text-3xl font-semibold"><i class="fa fa-pen-nib mr-3"></i>Proyectos</h2>
    <div class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-[#202323] p-4 rounded-lg flex flex-col hover:shadow-lg hover:shadow-[#ffd97b]/50 transition duration-300 ease-in-out">
            <img src="/img/proyecto-1.jpg" alt="Proyecto 1" class="rounded-lg">
            <div class="flex items-center mt-4 border bg-green-400/25 border-green-500 rounded-lg py-1 px-2 w-max">
                <p class="text-xs"><i class="fa-solid fa-circle text-green-500 mr-2"></i><span>Proyecto finalizado</span></p>
            </div>
            <h3 class="text-xl font-semibold mt-2">Elisium Agency - Página web para una empresa de captación de clientes</h3>
            <p class="text-gray-400 font-normal mt-2 flex-grow">Página web informativa para una agencia de captación de clientes para centros estéticos. Incluye un formulario de contacto funcional que envía la información directamente a un correo electrónico. Creada con un diseño simple y accesible.</p>

            <div class="flex flex-wrap gap-x-4 mt-3">
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-html5-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">HTML5</span>
                </div>
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-bootstrap-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">Bootstrap</span>
                </div>
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-javascript-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">JavaScript</span>
                </div>
            </div>

            <a href="https://zexxno.github.io/Web-ElisiumAgency/" class="mt-4 inline-block bg-gray-600 text-white text-center w-full py-2 font-semibold rounded-md hover:bg-[#303334] transition duration-300 ease-in-out"><i class="fa fa-eye mr-2"></i>Previsualizar</a>
        </div>
        <div class="bg-[#202323] p-4 rounded-lg flex flex-col hover:shadow-lg hover:shadow-[#ffd97b]/50 transition duration-300 ease-in-out">
            <img src="/img/proyecto-2.jpg" alt="Proyecto 1" class="rounded-lg">
            <div class="flex items-center mt-4 border bg-orange-400/25 border-orange-500 rounded-lg py-1 px-2 w-max">
                <p class="text-xs"><i class="fa-solid fa-circle text-orange-500 mr-2"></i><span>Proyecto en desarrollo</span></p>
            </div>
            <h3 class="text-xl font-semibold mt-2">Caffe Di Khalma - Más que una página web de una cafetería</h3>
            <p class="text-gray-400 font-normal mt-2 flex-grow">Página web de una cafetería, con un sistema de reservas y contacto funcional, así como una carta online. Incluye un panel administrativo dinámico para facilitar la gestión de estos elementos.</p>

            <div class="flex flex-wrap gap-x-4 mt-3">
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-php-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">PHP</span>
                </div>
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-bootstrap-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">Bootstrap</span>
                </div>
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-javascript-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">JavaScript</span>
                </div>
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-azuresqldatabase-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">SQL</span>
                </div>
            </div>

            <a href="https://caffedikhalma.com/" class="mt-4 inline-block bg-gray-600 text-white text-center w-full py-2 font-semibold rounded-md hover:bg-[#303334] transition duration-300 ease-in-out"><i class="fa fa-eye mr-2"></i>Previsualizar</a>
        </div>
        <div class="bg-[#202323] p-4 rounded-lg flex flex-col hover:shadow-lg hover:shadow-[#ffd97b]/50 transition duration-300 ease-in-out">
            <img src="/img/proyecto-3.jpg" alt="Proyecto 3" class="rounded-lg">
            <div class="flex items-center mt-4 border bg-orange-400/25 border-orange-500 rounded-lg py-1 px-2 w-max">
                <p class="text-xs"><i class="fa-solid fa-circle text-orange-500 mr-2"></i><span>Proyecto en desarrollo</span></p>
            </div>
            <h3 class="text-xl font-semibold mt-2">Salud360 - La forma más fácil de gestionar tu salud y la de tu familia</h3>
            <p class="text-gray-400 font-normal mt-2 flex-grow">Aplicación web para la gestión integral de la salud personal y familiar. Permite almacenar y organizar historiales médicos, citas, tratamientos y datos vitales en un solo lugar, brindando un acceso seguro y centralizado a la información de salud.</p>
            
            <div class="flex flex-wrap gap-x-4 mt-3">
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-html5-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">HTML5</span>
                </div>
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-tailwindcss-original colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">Tailwind CSS</span>
                </div>
                <div class="flex items-center py-1 rounded-lg">
                    <i class="devicon-javascript-plain colored"></i>
                    <span class="ml-2 font-medium text-sm text-white">JavaScript</span>
                </div>
            </div>

            <a href="https://salud360.ivanhuesca.dev/" class="mt-4 inline-block bg-gray-600 text-white text-center w-full py-2 font-semibold rounded-md hover:bg-[#303334] transition duration-300 ease-in-out"><i class="fa fa-eye mr-2"></i>Previsualizar</a>
        </div>
    </div>
</section>