<section id="skills" class="p-10">
    <h2 class="text-3xl font-semibold"><i class="fa fa-bolt mr-3"></i>Habilidades</h2>
    <div class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="bg-[#202323] p-4 rounded-lg flex flex-col hover:shadow-lg hover:shadow-[#ffd97b]/50 transition duration-300 ease-in-out">
            <h3 class="text-xl font-semibold mt-4 text-center">Frontend</h3>
            <div class="py-3 px-3">
                <p class="font-normal text-lg my-1"><i class="devicon-html5-plain colored mr-2"></i>HTML</p>
                <p class="font-normal text-lg my-1"><i class="devicon-css3-plain colored mr-2"></i>CSS</p>
                <p class="font-normal text-lg my-1"><i class="devicon-javascript-plain colored mr-2"></i>JavaScript</p>
                <p class="font-normal text-lg my-1"><i class="devicon-tailwindcss-original colored mr-2"></i>Tailwind CSS</p>
                <p class="font-normal text-lg my-1"><i class="devicon-bootstrap-plain colored mr-2"></i>Bootstrap</p>
                <p class="font-normal text-lg my-1"><i class="devicon-astro-plain colored mr-2"></i>Astro</p>
                <p class="font-normal text-lg my-1"><i class="devicon-vuejs-plain colored mr-2"></i>Vue.js</p>
            </div>
        </div>
        <div class="bg-[#202323] p-4 rounded-lg flex flex-col hover:shadow-lg hover:shadow-[#ffd97b]/50 transition duration-300 ease-in-out">
            <h3 class="text-xl font-semibold mt-4 text-center">Backend</h3>
            <div class="py-3 px-3">
                <p class="font-normal text-lg my-1"><i class="devicon-php-plain colored mr-2"></i>PHP</p>
                <p class="font-normal text-lg my-1"><i class="devicon-typescript-plain colored mr-2"></i>TypeScript</p>
                <p class="font-normal text-lg my-1"><i class="devicon-nodejs-plain colored mr-2"></i>Node.js</p>
            </div>
        </div>
        <div class="bg-[#202323] p-4 rounded-lg flex flex-col hover:shadow-lg hover:shadow-[#ffd97b]/50 transition duration-300 ease-in-out">
            <h3 class="text-xl font-semibold mt-4 text-center">Bases de datos</h3>
            <div class="py-3 px-3">
                <p class="font-normal text-lg my-1"><i class="devicon-azuresqldatabase-plain colored mr-2"></i>SQL</p>
                <p class="font-normal text-lg my-1"><i class="devicon-mysql-plain mr-2"></i>MySQL</p>
                <p class="font-normal text-lg my-1"><i class="devicon-mongodb-plain colored mr-2"></i>MongoDB</p>
            </div>
        </div>
        <div class="bg-[#202323] p-4 rounded-lg flex flex-col hover:shadow-lg hover:shadow-[#ffd97b]/50 transition duration-500 ease-in-out">
            <h3 class="text-xl font-semibold mt-4 text-center">Herramientas</h3>
            <div class="py-3 px-3">
                <p class="font-normal text-lg my-1"><i class="devicon-git-plain colored mr-2"></i>Git</p>
                <p class="font-normal text-lg my-1"><i class="devicon-github-plain mr-2"></i>GitHub</p>
                <p class="font-normal text-lg my-1"><i class="devicon-notion-plain colored mr-2"></i>Notion</p>
                <p class="font-normal text-lg my-1"><i class="devicon-jira-plain colored mr-2"></i>Jira</p>
            </div>
        </div>
    </div>
</section>